.nav-wrapper .color-green{
	background-color: green;
	color: black;
}

 .parallax-container {
      height: 300px;
      color:#311b92;
    }

.section-content{
	padding: 10px;
}


.card img{
	width: 100%;
}