 .parallax-container {
      height: 350px;
      color:#311b92;
    }

#vid {
	width: 100%;
	/*height: 500px;*/

}

.videoPa{
	position: fixed;
	z-index: -1000;

}

.section-content{
	padding: 10px;
	height: 400px;
}

.card img{
	width: 100%;
}

.block{
	height: 10%;
}


@media only screen and (max-width : 600px){
	.section-content{
		padding: 10px;
		height: auto;
	}

}

